# 🔔 CẤU HÌNH HỆ THỐNG CẢNH BÁO TELEGRAM BATCH BOT
BATCH_BOT_TOKEN=<YOUR_TELEGRAM_BATCH_BOT_TOKEN>
BATCH_CHAT_ID=<YOUR_TELEGRAM_BATCH_CHAT_ID>

# 🔔 CẤU HÌNH KẾT NỐI KHO DỮ LIỆU POSTGRESQL (MEDALLION STORAGE)
# Lưu ý: Giữ nguyên 'postgres-db' nếu chạy trong Docker, thay bằng 'localhost' nếu chạy file python ngoài máy host.
DB_URL=jdbc:postgresql://postgres-db:5432/sales_db
DB_USER=admin
DB_PASS=<YOUR_POSTGRES_PASSWORD_HERE>
DB_DRIVER=org.postgresql.Driver

# 🔔 CẤU HÌNH HỆ THỐNG PHÂN PHỐI THÔNG ĐIỆP APACHE KAFKA
KAFKA_BOOTSTRAP_SERVERS=kafka:29092
KAFKA_TOPIC=sales_topic

# 🔔 CẤU HÌNH HỆ THỐNG CẢNH BÁO TELEGRAM REAL-TIME STREAMING BOT
STREAMING_BOT_TOKEN=<YOUR_TELEGRAM_STREAMING_BOT_TOKEN>
STREAMING_CHAT_ID=<YOUR_TELEGRAM_STREAMING_CHAT_ID>